* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main-color: #009688;
    --color-zero: #ffc107;
    --font-zero: 25px;
    --font-input: 18px;
    --height: 5px;
}

main {
    width: 650px;
    margin: 30px auto 0;
    padding: 15px;
}

h1 { 
    background-image: linear-gradient(45deg, var(--main-color), var(--color-zero));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

form {
    width: fit-content;
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 250px;
    padding: 10px;
    font-size: var(--font-input);
    caret-color: var(--main-color);
    border: none;
    border-bottom: var(--height) solid var(--main-color);
    color: var(--main-color);
}

.progress {
    width: 0;
    height: var(--height);
    background-color: var(--color-zero);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}

::placeholder {
    color: var(--main-color);
    opacity: 0.4;
}

input:focus {
    outline: none;
}

span {
    display: inline-block;
    margin-left: 5px;
    font-size: var(--font-input);
    color: var(--main-color);
    font-weight: bold;
    position: absolute;
    bottom: -25px;
    right: 0;
}